---
import "@fontsource-variable/dm-sans"
import "@/styles/globals.css"
import { SEO } from "astro-seo"
import Projects from "@/components/Projects"
import Header from "@/components/Header"
import Footer from "@/components/Footer"
import Services from "@/components/Services"
import Mission from "@/components/Mission"
import ContactCards from "@/components/ContactCards"
import { ArrowRight } from "lucide-react"
import ThemeManager from "@/components/ThemeManager.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="manifest" href="/site.webmanifest" />
		<SEO
			title="incomodum"
			description="Innovative Software Solutions Driving Growth and Excellence"
			openGraph={{
				basic: {
					title: "incomodum",
					type: "website",
					image: "/assets/base-og.png"
				},
				optional: {
					locale: "en",
					description:
						"Innovative Software Solutions Driving Growth and Excellence"
				},
				image: {
					width: 1280,
					height: 640,
					type: "image/png"
				}
			}}
			twitter={{
				card: "summary_large_image"
			}}
		/>
		<ThemeManager defaultTheme="auto" />
	</head>
	<body>
		<Header client:load />
		<div
			class="flex flex-col backdrop-blur-lg items-center w-full"
		>
			<div class="w-full px-8">
				<main class="w-full max-w-7xl mx-auto pt-[50px]">
					<section
						class="flex flex-col md:px-16 2xl:px-0 md:py-16 items-center justify-center md:justify-between"
					>
						<h1
							class="mb-6 text-5xl font-bold leading-tight lg:text-7xl"
						>
							Innovative <span class="text-page"
								>Software Solutions</span
							>
							<br />
							Driving Growth and <span class="text-page"
								>Excellence</span
							>
						</h1>
						<p
							class="mx-auto mb-12 md:text-center max-w-2xl text-xl text-foreground/60"
						>
							We create cutting-edge software solutions that help
							businesses transform, scale, and achieve their
							digital ambitions.
						</p>
						<div class="flex flex-wrap w-full md:w-max justify-center gap-6">
							<a
								href="/#contact"
								class="inline-flex w-full md:w-fit items-center justify-center group rounded-full bg-page px-8 py-4 font-medium text-white transition-all hover:scale-105 hover:shadow-lg hover:shadow-page/60"
							>
								Get Started
								<ArrowRight
									className="ml-2 size-5 group-hover:translate-x-1 transition-transform"
								/>
							</a>
							<a
								href="/projects"
								class="inline-flex w-full md:w-fit items-center justify-center rounded-full border-2 px-8 py-4 font-medium text-gray-700 dark:text-gray-200 hover:dark:border-page/60 transition-all hover:border-page/60 hover:scale-105"
							>
								View Our Work
							</a>
						</div>
					</section>
					<div class="color-blur left"></div>
					<div id="services"></div>
					<Services client:visible />
					<div class="color-blur right"></div>
					<section
						class="mt-32 flex flex-col gap-7"
						aria-labelledby="heading-featured-projects"
					>
						<h2
							id="heading-featured-projects"
							class="text-4xl font-bold text-center md:text-start font-sans text-foreground"
						>
							Featured <b class="text-page">projects</b>
						</h2>
						<Projects client:visible />
					</section>
					<div id="mission"></div>
					<div class="color-blur left"></div>
					<Mission client:visible />
					<div id="contact"></div>
					<ContactCards client:visible />
				</main>
			</div>
		</div>
		<Footer client:visible />
	</body>
</html>
