---
import "@fontsource-variable/dm-sans"
import "../styles/globals.css"
import Projects from "../components/Projects"
import Header from "../components/Header"
import Footer from "../components/Footer"
import Services from "@/components/Services"
import { MailIcon } from "lucide-react"
import Linkedin from "@/components/icons/linkedin"
import ContactUs from "@/components/ContactUs"
import { Image } from "astro:assets"
import { SEO } from "astro-seo"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title="incomodum"
			description="Innovative Software Solutions Driving Growth and Excellence"
			openGraph={{
				basic: {
					title: "incomodum",
					type: "website",
					image: "/assets/base-og.png"
				},
				optional: {
					locale: "en",
					description:
						"Innovative Software Solutions Driving Growth and Excellence"
				},
				image: {
					width: 1280,
					height: 640,
					type: "image/png"
				}
			}}
			twitter={{
				card: "summary_large_image"
			}}
			extend={{
				link: [
					{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }
				]
			}}
		/>
		<style>
			html,
			body {
				font-family: "DM Sans Variable", "BlinkMacSystemFont",
					"Segoe UI";
				margin: 0;
				overscroll-behavior: none;
			}
		</style>
	</head>
	<body class="bg-[#F9F9F9] relative overflow-x-clip">
		<Header client:load />
		<div
			class="flex flex-col bg-[#F9F9F988] backdrop-blur-lg items-center w-full"
		>
			<div class="max-w-[1500px] w-full">
				<main class="w-full pt-[50px]">
					<section
						class="flex flex-col md:px-16 2xl:px-0 md:py-32 md:flex-row items-center justify-center gap-7 md:justify-between"
					>
						<h1
							class="text-4xl text-center md:text-start md:text-7xl px-2 font-bold font-sans text-foreground"
						>
							Innovative <b class="text-page">Software</b><br
								class="hidden md:block"
							/> Solutions Driving Growth<br /> and <b
								class="text-page">Excellence</b
							>
						</h1>
						<svg
							width="413"
							height="413"
							viewBox="0 0 413 413"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							class="text-page"
						>
							<path
								d="M146.305 92.7013C148.713 90.3799 150.125 87.2145 150.245 83.8721C150.365 80.5297 149.182 77.2714 146.947 74.7837C144.711 72.2961 141.597 70.7734 138.261 70.5366C134.925 70.2997 131.627 71.3672 129.062 73.514L99.12 100.428C86.4547 111.837 75.9404 121.284 68.7301 129.854C61.1412 138.888 55.7378 148.577 55.7378 160.554C55.7378 172.514 61.1412 182.202 68.7301 191.219C75.9576 199.806 86.4547 209.271 99.12 220.662L129.062 247.576C130.316 248.747 131.79 249.655 133.399 250.249C135.008 250.843 136.719 251.111 138.432 251.036C140.145 250.961 141.827 250.546 143.378 249.814C144.928 249.082 146.318 248.048 147.465 246.773C148.612 245.498 149.493 244.008 150.057 242.388C150.621 240.769 150.857 239.053 150.751 237.342C150.645 235.63 150.198 233.957 149.438 232.42C148.677 230.882 147.618 229.512 146.322 228.389L117.137 202.112C103.577 189.911 94.4221 181.634 88.5197 174.613C82.8409 167.85 81.5847 163.909 81.5847 160.554C81.5847 157.181 82.8237 153.24 88.5197 146.477C94.4393 139.439 103.577 131.179 117.137 118.978L146.305 92.7013ZM265.748 180.653C266.883 179.392 268.255 178.367 269.787 177.637C271.318 176.907 272.978 176.486 274.672 176.398C276.367 176.31 278.062 176.557 279.66 177.125C281.259 177.693 282.73 178.57 283.989 179.707L313.88 206.603C326.545 218.012 337.06 227.477 344.27 236.047C351.859 245.064 357.262 254.769 357.262 266.729C357.262 278.689 351.859 288.395 344.27 297.412C337.042 305.981 326.545 315.446 313.88 326.838L283.972 353.769C282.711 354.902 281.239 355.776 279.64 356.341C278.042 356.905 276.347 357.149 274.654 357.059C272.961 356.969 271.303 356.546 269.773 355.814C268.244 355.083 266.873 354.058 265.74 352.797C264.606 351.536 263.733 350.064 263.168 348.465C262.604 346.866 262.359 345.172 262.45 343.479C262.54 341.786 262.963 340.128 263.694 338.598C264.426 337.068 265.451 335.698 266.712 334.564L295.897 308.305C309.457 296.087 318.612 287.827 324.515 280.788C330.193 274.043 331.45 270.085 331.45 266.729C331.45 263.374 330.211 259.416 324.515 252.67C318.595 245.615 309.457 237.355 295.897 225.154L266.729 198.877C264.185 196.588 262.655 193.382 262.474 189.964C262.293 186.547 263.477 183.198 265.765 180.653"
								fill="#1C274C"></path>
							<path
								opacity="0.5"
								d="M244.014 73.5656C245.653 74.0012 247.19 74.7555 248.537 75.7853C249.884 76.8151 251.015 78.1002 251.865 79.5673C252.715 81.0343 253.268 82.6545 253.492 84.3353C253.715 86.0161 253.606 87.7244 253.169 89.3628L184.559 347.488C183.679 350.797 181.519 353.62 178.557 355.337C175.594 357.054 172.071 357.524 168.762 356.643C165.453 355.762 162.63 353.603 160.913 350.64C159.196 347.678 158.726 344.154 159.607 340.845L228.217 82.7204C228.653 81.0817 229.407 79.545 230.437 78.1979C231.466 76.8509 232.752 75.7199 234.219 74.8697C235.686 74.0196 237.306 73.4668 238.987 73.243C240.667 73.0192 242.376 73.1289 244.014 73.5656Z"
								fill="currentColor"></path>
						</svg>
					</section>
					<div class="color-blur left"></div>
					<div id="services"></div>
					<section
						class="flex flex-col text-center justify-center mt-32"
					>
						<h2
							class="text-4xl font-bold font-sans text-foreground px-2"
						>
							How can we help your business <b class="text-page"
								>improve</b
							>
						</h2>
						<Services client:visible />
					</section>
					<div id="projects"></div>
					<div class="color-blur right"></div>
					<section class="mt-36 flex flex-col gap-7 px-6 md:px-16">
						<h2
							class="text-4xl font-bold text-center md:text-start font-sans text-foreground"
						>
							Our <b class="text-page">work</b>
						</h2>
						<Projects />
					</section>
					<div id="mission"></div>
					<div class="color-blur left"></div>
					<section
						class="mt-36 flex flex-col items-center gap-7 px-6 md:px-16"
					>
						<h2
							class="text-3xl md:text-4xl flex flex-row items-center gap-4 font-bold font-sans text-foreground"
						>
							Misson
							<svg
								width="36"
								height="36"
								viewBox="0 0 222 222"
								fill="none"
								class="md:hidden"
								xmlns="http://www.w3.org/2000/svg"
							>
								<title>Target</title>
								<g clip-path="url(#clip0_1633_586)">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M183.119 6.00968C182.781 4.64644 182.087 3.3975 181.107 2.39066C180.128 1.38381 178.899 0.655197 177.545 0.279355C176.192 -0.0964872 174.763 -0.106065 173.405 0.251602C172.047 0.609268 170.808 1.32134 169.815 2.31497L138.101 34.0293C137.134 34.9985 136.434 36.2017 136.07 37.5217C135.706 38.8417 135.69 40.2334 136.023 41.5614L141.732 64.4591L141.51 64.6811L103.596 102.596C101.495 104.85 100.351 107.832 100.406 110.913C100.46 113.994 101.708 116.934 103.887 119.113C106.066 121.292 109.006 122.54 112.087 122.594C115.168 122.649 118.15 121.505 120.404 119.404L158.35 81.5055L158.572 81.2677L181.454 86.9921C182.782 87.3257 184.174 87.3097 185.494 86.9457C186.814 86.5817 188.017 85.882 188.986 84.9148L220.701 53.2005C221.698 52.2082 222.414 50.9682 222.774 49.6078C223.134 48.2475 223.126 46.8158 222.75 45.4598C222.374 44.1037 221.643 42.8723 220.634 41.8918C219.624 40.9113 218.372 40.2171 217.006 39.8805L189.906 33.1254L183.119 6.00968ZM117.027 12.0354C117.244 15.181 116.204 18.2843 114.135 20.6632C112.065 23.042 109.136 24.5016 105.99 24.7211C89.4225 25.8693 73.5328 31.7495 60.209 41.6631C46.8851 51.5767 36.6874 65.1069 30.8274 80.646C24.9674 96.1851 23.6916 113.08 27.1515 129.323C30.6114 145.566 38.6615 160.474 50.3454 172.276C62.0293 184.078 76.8557 192.278 93.063 195.901C109.27 199.524 126.177 198.419 141.774 192.716C157.372 187.012 171.004 176.951 181.051 163.728C191.098 150.505 197.138 134.675 198.453 118.12C198.703 114.974 200.193 112.056 202.594 110.009C204.996 107.961 208.112 106.952 211.258 107.202C214.403 107.452 217.321 108.942 219.368 111.343C221.416 113.745 222.426 116.861 222.175 120.007C220.497 141.1 212.799 161.269 199.996 178.116C187.193 194.963 169.823 207.781 149.949 215.046C130.075 222.312 108.534 223.72 87.8836 219.103C67.2333 214.486 48.3424 204.038 33.4553 189.001C18.5681 173.963 8.31054 154.968 3.90116 134.273C-0.50822 113.577 1.11597 92.0509 8.58075 72.2512C16.0455 52.4516 29.0371 35.2109 46.0121 22.5775C62.987 9.94416 83.2317 2.44915 104.341 0.982967C107.487 0.76511 110.59 1.80533 112.969 3.87492C115.348 5.94451 116.807 8.88993 117.027 12.0354ZM106.371 64.3481C106.94 65.8026 107.218 67.3552 107.188 68.917C107.158 70.4789 106.82 72.0195 106.194 73.4508C105.568 74.8821 104.666 76.1761 103.54 77.2589C102.414 78.3416 101.086 79.192 99.6313 79.7613C94.4309 81.8012 89.8208 85.1049 86.2176 89.3738C82.6145 93.6427 80.132 98.7422 78.9945 104.211C77.8569 109.681 78.1003 115.347 79.7025 120.699C81.3047 126.05 84.2152 130.918 88.171 134.862C92.1268 138.807 97.0032 141.703 102.359 143.29C107.716 144.876 113.383 145.103 118.849 143.95C124.314 142.796 129.407 140.299 133.665 136.683C137.923 133.068 141.214 128.448 143.238 123.242C143.805 121.786 144.652 120.456 145.733 119.328C146.813 118.2 148.105 117.296 149.535 116.667C150.965 116.038 152.504 115.697 154.066 115.664C155.627 115.63 157.18 115.904 158.636 116.471C160.091 117.037 161.421 117.885 162.549 118.965C163.677 120.045 164.581 121.337 165.21 122.767C165.839 124.197 166.18 125.736 166.214 127.298C166.247 128.859 165.973 130.412 165.407 131.868C161.948 140.759 156.329 148.647 149.056 154.821C141.783 160.994 133.086 165.258 123.751 167.226C114.417 169.194 104.739 168.805 95.5926 166.093C86.4463 163.381 78.1201 158.433 71.3665 151.695C64.613 144.958 59.6451 136.643 56.9121 127.503C54.1791 118.363 53.767 108.686 55.7132 99.3471C57.6594 90.008 61.9025 81.3011 68.0588 74.0137C74.2152 66.7263 82.0907 61.0881 90.9734 57.6088C93.909 56.4629 97.1795 56.5291 100.066 57.7927C102.953 59.0563 105.221 61.414 106.371 64.3481Z"
										fill="#FF6F61"></path>
								</g>
								<defs>
									<clipPath id="clip0_1633_586">
										<rect
											width="222"
											height="222"
											fill="white"></rect>
									</clipPath>
								</defs>
							</svg>
						</h2>
						<div
							class="flex flex-row items-center justify-between gap-20 rounded-[33px] bg-white p-10 md:p-20"
						>
							<div
								class="flex flex-col gap-4 text-center md:gap-0 md:text-start"
							>
								<p
									class="font-medium text-[28px] text-foreground md:text-[50.5px]"
								>
									Be able to <b class="font-medium text-page"
										>improve</b
									>
								</p>
								<p class="max-w-[550px]">
									Our mission is to continuously enhance and
									improve technology, delivering innovative
									software solutions that drive growth and
									success. We focus on optimizing what can be
									improved, creating value through
									collaboration, creativity, and excellence.
								</p>
							</div>
							<svg
								width="222"
								height="222"
								viewBox="0 0 222 222"
								fill="none"
								class="hidden md:flex"
								xmlns="http://www.w3.org/2000/svg"
							>
								<title>Target</title>
								<g clip-path="url(#clip0_1633_586)">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M183.119 6.00968C182.781 4.64644 182.087 3.3975 181.107 2.39066C180.128 1.38381 178.899 0.655197 177.545 0.279355C176.192 -0.0964872 174.763 -0.106065 173.405 0.251602C172.047 0.609268 170.808 1.32134 169.815 2.31497L138.101 34.0293C137.134 34.9985 136.434 36.2017 136.07 37.5217C135.706 38.8417 135.69 40.2334 136.023 41.5614L141.732 64.4591L141.51 64.6811L103.596 102.596C101.495 104.85 100.351 107.832 100.406 110.913C100.46 113.994 101.708 116.934 103.887 119.113C106.066 121.292 109.006 122.54 112.087 122.594C115.168 122.649 118.15 121.505 120.404 119.404L158.35 81.5055L158.572 81.2677L181.454 86.9921C182.782 87.3257 184.174 87.3097 185.494 86.9457C186.814 86.5817 188.017 85.882 188.986 84.9148L220.701 53.2005C221.698 52.2082 222.414 50.9682 222.774 49.6078C223.134 48.2475 223.126 46.8158 222.75 45.4598C222.374 44.1037 221.643 42.8723 220.634 41.8918C219.624 40.9113 218.372 40.2171 217.006 39.8805L189.906 33.1254L183.119 6.00968ZM117.027 12.0354C117.244 15.181 116.204 18.2843 114.135 20.6632C112.065 23.042 109.136 24.5016 105.99 24.7211C89.4225 25.8693 73.5328 31.7495 60.209 41.6631C46.8851 51.5767 36.6874 65.1069 30.8274 80.646C24.9674 96.1851 23.6916 113.08 27.1515 129.323C30.6114 145.566 38.6615 160.474 50.3454 172.276C62.0293 184.078 76.8557 192.278 93.063 195.901C109.27 199.524 126.177 198.419 141.774 192.716C157.372 187.012 171.004 176.951 181.051 163.728C191.098 150.505 197.138 134.675 198.453 118.12C198.703 114.974 200.193 112.056 202.594 110.009C204.996 107.961 208.112 106.952 211.258 107.202C214.403 107.452 217.321 108.942 219.368 111.343C221.416 113.745 222.426 116.861 222.175 120.007C220.497 141.1 212.799 161.269 199.996 178.116C187.193 194.963 169.823 207.781 149.949 215.046C130.075 222.312 108.534 223.72 87.8836 219.103C67.2333 214.486 48.3424 204.038 33.4553 189.001C18.5681 173.963 8.31054 154.968 3.90116 134.273C-0.50822 113.577 1.11597 92.0509 8.58075 72.2512C16.0455 52.4516 29.0371 35.2109 46.0121 22.5775C62.987 9.94416 83.2317 2.44915 104.341 0.982967C107.487 0.76511 110.59 1.80533 112.969 3.87492C115.348 5.94451 116.807 8.88993 117.027 12.0354ZM106.371 64.3481C106.94 65.8026 107.218 67.3552 107.188 68.917C107.158 70.4789 106.82 72.0195 106.194 73.4508C105.568 74.8821 104.666 76.1761 103.54 77.2589C102.414 78.3416 101.086 79.192 99.6313 79.7613C94.4309 81.8012 89.8208 85.1049 86.2176 89.3738C82.6145 93.6427 80.132 98.7422 78.9945 104.211C77.8569 109.681 78.1003 115.347 79.7025 120.699C81.3047 126.05 84.2152 130.918 88.171 134.862C92.1268 138.807 97.0032 141.703 102.359 143.29C107.716 144.876 113.383 145.103 118.849 143.95C124.314 142.796 129.407 140.299 133.665 136.683C137.923 133.068 141.214 128.448 143.238 123.242C143.805 121.786 144.652 120.456 145.733 119.328C146.813 118.2 148.105 117.296 149.535 116.667C150.965 116.038 152.504 115.697 154.066 115.664C155.627 115.63 157.18 115.904 158.636 116.471C160.091 117.037 161.421 117.885 162.549 118.965C163.677 120.045 164.581 121.337 165.21 122.767C165.839 124.197 166.18 125.736 166.214 127.298C166.247 128.859 165.973 130.412 165.407 131.868C161.948 140.759 156.329 148.647 149.056 154.821C141.783 160.994 133.086 165.258 123.751 167.226C114.417 169.194 104.739 168.805 95.5926 166.093C86.4463 163.381 78.1201 158.433 71.3665 151.695C64.613 144.958 59.6451 136.643 56.9121 127.503C54.1791 118.363 53.767 108.686 55.7132 99.3471C57.6594 90.008 61.9025 81.3011 68.0588 74.0137C74.2152 66.7263 82.0907 61.0881 90.9734 57.6088C93.909 56.4629 97.1795 56.5291 100.066 57.7927C102.953 59.0563 105.221 61.414 106.371 64.3481Z"
										fill="#FF6F61"></path>
								</g>
								<defs>
									<clipPath id="clip0_1633_586">
										<rect
											width="222"
											height="222"
											fill="white"></rect>
									</clipPath>
								</defs>
							</svg>
						</div>
					</section>
					<div id="contact"></div>
					<section
						class="pt-56 pb-48 flex flex-col-reverse overflow-y-clip lg:flex-row relative items-center lg:justify-evenly gap-28 px-6 lg:px-16"
					>
						<div
							class="flex flex-col relative w-[90%] lg:w-[40%] items-center gap-6"
						>
							<div
								class="hidden lg:block w-[56vw] max-w-[1200px] rotate-[-7.12deg] absolute h-[886px] -top-20 rounded-t-3xl bg-white z-[-2]"
							>
							</div>
							<h2
								class="text-3xl lg:text-4xl flex flex-row w-full items-center justify-center lg:justify-start font-bold font-sans px-7 text-foreground"
							>
								Let's&nbsp;<b class="text-page">Talk</b>
							</h2>
							<div
								class="bg-white lg:bg-transparent w-full flex flex-col gap-5 rounded-[33px] p-7 lg:py-0 text-foreground"
							>
								<ContactUs client:visible />
							</div>
						</div>
						<div
							class="flex flex-col relative lg:w-[40%] items-center gap-6"
						>
							<div
								class="hidden lg:block w-[43vw] max-w-[930px] rotate-[7.12deg] absolute h-[886px] -top-20 rounded-t-3xl bg-gradient-to-br from-[#1C274C] to-[#6F4154] z-[-1]"
							>
							</div>
							<h2
								class="text-3xl lg:hidden flex flex-row items-center font-bold font-sans text-foreground"
							>
								Our&nbsp;<b class="text-page">Team</b>
							</h2>
							<div
								class="bg-gradient-to-br lg:bg-none w-full flex flex-col gap-5 from-[#1C274C] to-[#6F4154] rounded-[33px] p-7 text-white"
							>
								<div class="flex flex-row min-w-fit gap-6">
									<div
										class="w-[121px] h-[121px] rounded-full p-[3px] border-page border-[3px]"
									>
										<Image
											width={121}
											height={121}
											src="/assets/team/lucas-ligas.jpeg"
											alt="Lucas Ligas"
											class="w-full h-full rounded-full bg-white"
										/>
									</div>
									<div class="flex flex-col justify-center">
										<p class="font-bold text-lg">
											Lucas Ligas
										</p>
										<p class="font-light">CMO</p>
										<div
											class="flex flex-row lg:flex-col mt-2"
										>
											<a
												href="https://www.linkedin.com/in/lucas-ligas-a6632b282/"
												aria-label="linkedin"
												class="flex flex-row items-center"
											>
												<Linkedin
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													Lucas Ligas
												</p>
											</a>
											<a
												href="mailto:lucasligas15@gmail.com"
												class="flex flex-row items-center"
												aria-label="email"
											>
												<MailIcon
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													lucasligas15@gmail.com
												</p>
											</a>
										</div>
									</div>
								</div>
								<div class="flex flex-row min-w-fit gap-6">
									<div
										class="w-[121px] h-[121px] rounded-full p-[3px] border-page border-[3px]"
									>
										<Image
											width={121}
											height={121}
											src="/assets/team/daniel-czaja.jpeg"
											alt="Daniel Czaja"
											class="w-full h-full rounded-full bg-white"
										/>
									</div>
									<div class="flex flex-col justify-center">
										<p class="font-bold text-lg">
											Daniel Czaja
										</p>
										<p class="font-light">CDO</p>
										<div
											class="flex flex-row lg:flex-col mt-2"
										>
											<a
												href="https://www.linkedin.com/in/daniel-adam-czaja-2aab07257/"
												aria-label="linkedin"
												class="flex flex-row items-center"
											>
												<Linkedin
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													Daniel Czaja
												</p>
											</a>
											<a
												href="mailto:danielczaja12@gmail.com"
												class="flex flex-row items-center"
												aria-label="email"
											>
												<MailIcon
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													danielczaja12@gmail.com
												</p>
											</a>
										</div>
									</div>
								</div>
								<div class="flex flex-row min-w-fit gap-6">
									<div
										class="w-[121px] h-[121px] rounded-full p-[3px] border-page border-[3px]"
									>
										<Image
											width={121}
											height={121}
											src="/assets/team/jakub-krcmarik.jpeg"
											alt="Jakub Krčmárik"
											class="w-full h-full rounded-full bg-white"
										/>
									</div>
									<div class="flex flex-col justify-center">
										<p class="font-bold text-lg">
											Jakub Krčmárik
										</p>
										<p class="font-light">CTO</p>
										<div
											class="flex flex-row lg:flex-col mt-2"
										>
											<a
												href="https://www.linkedin.com/in/jakub-krcmarik/"
												aria-label="linkedin"
												class="flex flex-row items-center"
											>
												<Linkedin
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													Jakub Krčmárik
												</p>
											</a>
											<a
												href="mailto:mindstormjak@gmail.com"
												class="flex flex-row items-center"
												aria-label="email"
											>
												<MailIcon
													className="text-app"
												/>&nbsp;
												<p class="hidden lg:block">
													mindstormjak@gmail.com
												</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</main>
			</div>
		</div>
		<Footer />
	</body>
</html>
