---
import '@fontsource-variable/dm-sans'
import Header from '../components/Header'
import Card from '../components/ServiceCard'
import Footer from '../components/Footer'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			:root {
				--page-color: #2249A7;
			}
			html,
			body {
				font-family: "DM Sans Variable", 'BlinkMacSystemFont', 'Segoe UI';
				margin: 0;
				overscroll-behavior: none;
			}
		</style>
	</head>
	<body class="bg-[#F9F9F9] relative">
		<Header />
		<div class="px-8 md:px-16 flex flex-col items-center w-full">
			<div class="max-w-[1500px] w-full">
				<main class="pt-[50px] w-full">
					<section class="flex flex-col md:flex-row items-center justify-center gap-7 md:justify-between">
						<h1 class="text-4xl md:text-7xl text-center md:text-start font-bold font-sans text-foreground">Empowering <b class="text-page">Slovak</b> <br class="hidden md:block"/>Citizens with Tailored<br /> and <b class="text-page">Tutorials</b></h1>
						<svg width="413" height="413" viewBox="0 0 413 413" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-page">
							<path d="M146.305 92.7013C148.713 90.3799 150.125 87.2145 150.245 83.8721C150.365 80.5297 149.182 77.2714 146.947 74.7837C144.711 72.2961 141.597 70.7734 138.261 70.5366C134.925 70.2997 131.627 71.3672 129.062 73.514L99.12 100.428C86.4547 111.837 75.9404 121.284 68.7301 129.854C61.1412 138.888 55.7378 148.577 55.7378 160.554C55.7378 172.514 61.1412 182.202 68.7301 191.219C75.9576 199.806 86.4547 209.271 99.12 220.662L129.062 247.576C130.316 248.747 131.79 249.655 133.399 250.249C135.008 250.843 136.719 251.111 138.432 251.036C140.145 250.961 141.827 250.546 143.378 249.814C144.928 249.082 146.318 248.048 147.465 246.773C148.612 245.498 149.493 244.008 150.057 242.388C150.621 240.769 150.857 239.053 150.751 237.342C150.645 235.63 150.198 233.957 149.438 232.42C148.677 230.882 147.618 229.512 146.322 228.389L117.137 202.112C103.577 189.911 94.4221 181.634 88.5197 174.613C82.8409 167.85 81.5847 163.909 81.5847 160.554C81.5847 157.181 82.8237 153.24 88.5197 146.477C94.4393 139.439 103.577 131.179 117.137 118.978L146.305 92.7013ZM265.748 180.653C266.883 179.392 268.255 178.367 269.787 177.637C271.318 176.907 272.978 176.486 274.672 176.398C276.367 176.31 278.062 176.557 279.66 177.125C281.259 177.693 282.73 178.57 283.989 179.707L313.88 206.603C326.545 218.012 337.06 227.477 344.27 236.047C351.859 245.064 357.262 254.769 357.262 266.729C357.262 278.689 351.859 288.395 344.27 297.412C337.042 305.981 326.545 315.446 313.88 326.838L283.972 353.769C282.711 354.902 281.239 355.776 279.64 356.341C278.042 356.905 276.347 357.149 274.654 357.059C272.961 356.969 271.303 356.546 269.773 355.814C268.244 355.083 266.873 354.058 265.74 352.797C264.606 351.536 263.733 350.064 263.168 348.465C262.604 346.866 262.359 345.172 262.45 343.479C262.54 341.786 262.963 340.128 263.694 338.598C264.426 337.068 265.451 335.698 266.712 334.564L295.897 308.305C309.457 296.087 318.612 287.827 324.515 280.788C330.193 274.043 331.45 270.085 331.45 266.729C331.45 263.374 330.211 259.416 324.515 252.67C318.595 245.615 309.457 237.355 295.897 225.154L266.729 198.877C264.185 196.588 262.655 193.382 262.474 189.964C262.293 186.547 263.477 183.198 265.765 180.653" fill="#1C274C"/>
							<path opacity="0.5" d="M244.014 73.5656C245.653 74.0012 247.19 74.7555 248.537 75.7853C249.884 76.8151 251.015 78.1002 251.865 79.5673C252.715 81.0343 253.268 82.6545 253.492 84.3353C253.715 86.0161 253.606 87.7244 253.169 89.3628L184.559 347.488C183.679 350.797 181.519 353.62 178.557 355.337C175.594 357.054 172.071 357.524 168.762 356.643C165.453 355.762 162.63 353.603 160.913 350.64C159.196 347.678 158.726 344.154 159.607 340.845L228.217 82.7204C228.653 81.0817 229.407 79.545 230.437 78.1979C231.466 76.8509 232.752 75.7199 234.219 74.8697C235.686 74.0196 237.306 73.4668 238.987 73.243C240.667 73.0192 242.376 73.1289 244.014 73.5656Z" fill="currentColor"/>
						</svg>
					</section>
					<section class="flex flex-col text-center justify-center mt-32">
						<h2 class="text-4xl font-bold font-sans text-foreground">How can we help your business <b class="text-page">improve</b></h2>
						<div class="flex flex-row items-center justify-center gap-[100px] mt-16">
							<Card.MVP />
							<Card.Custom />
							<Card.Workflow />
						</div>
					</section>
					<section class="mt-36">
						<h2 class="text-4xl font-bold font-sans text-foreground">Our <b class="text-page">work</b></h2>
					</section>
				</main>
			</div>
		</div>
		<Footer />
	</body>
</html>