---
import "@fontsource-variable/dm-sans"
import "@/styles/globals.css"
import Header from "@/components/Header"
import Footer from "@/components/Footer"
import { SEO } from "astro-seo"
import { ArrowLeft } from "lucide-react"
import navody from "../../../public/assets/projects/navody.webp"
import ThemeManager from "@/components/ThemeManager.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="manifest" href="/site.webmanifest" />
		<SEO
			title="navody.slovensko.sk | incomodum"
			description="Empowering Slovak Citizens with Tailored and Tutorials"
			openGraph={{
				basic: {
					title: "navody.slovensko.sk",
					type: "website",
					image: "/assets/projects/navody-og.png"
				},
				optional: {
					locale: "en",
					description:
						"Empowering Slovak Citizens with Tailored and Tutorials",
					siteName: "incomodum"
				},
				image: {
					width: 1280,
					height: 640,
					type: "image/png"
				}
			}}
			twitter={{
				card: "summary_large_image"
			}}
		/>
		<style>
			:root {
				--page-color: oklch(0.4351 0.1553 263.78);
			}
		</style>
		<ThemeManager defaultTheme="auto" />
	</head>
	<body class="flex flex-col">
		<Header client:load />
		<div class="px-8 md:px-16 flex flex-col items-center w-full min-h-screen">
			<div class="max-w-7xl w-full">
				<div class="py-6">
					<a
						href="/projects"
						class="inline-flex items-center text-foreground/60 hover:text-foreground"
					>
						<ArrowLeft className="mr-2 h-4 w-4" />
						Back to projects
					</a>
				</div>
				<section class="py-12 max-w-full">
					<div class="grid gap-16 lg:grid-cols-2 max-w-full">
						<div class="flex flex-col justify-center">
							<a href="https://navody.slovensko.sk" target="_blank">
							<h1
								class="mb-4 text-4xl font-bold leading-tight lg:text-6xl"
							>
								<span class="text-page">navody</span
								><wbr />.slovensko.sk
							</h1>
							</a>
							<p class="text-lg lg:text-xl text-foreground/60">
								Empowering Slovak Citizens with Tailored Guides
								and Tutorials
							</p>
						</div>
						<div class="w-full relative isolate">
							<img src={navody.src} width={navody.width} height={navody.height} class="w-full z-10 rounded-lg shadow-2xl" />
						</div>
					</div>
				</section>
				<div class="my-8 w-full bg-border h-[1px]" />
				<section class="pb-16">
					<div class="grid gap-16 lg:grid-cols-2">
						<div>
							<h2 class="mb-8 text-3xl font-bold">
								The <span class="text-page">Challenge</span>
							</h2>
							<p class="mb-6 text-foreground/60">
								Create a user friendly app for all citizens of Slovakia for guides and resources around legal actions
							</p>
							<ul class="space-y-4 text-foreground/60">
								<li class="flex items-center">
									<div
										class="mr-4 h-2 w-2 rounded-full bg-page"
									>
									</div>
									User Tailored Guides
								</li>
								<li class="flex items-center">
									<div
										class="mr-4 h-2 w-2 rounded-full bg-page"
									>
									</div>
									Content Management System
								</li>
								<li class="flex items-center">
									<div
										class="mr-4 h-2 w-2 rounded-full bg-page"
									>
									</div>
									PDF Generation of guides
								</li>
							</ul>
						</div>
						<div>
							<h2 class="mb-8 text-3xl font-bold">
								Our <span class="text-page">Solution</span>
							</h2>
							<p class="mb-6 text-foreground/60">
								Originaly created during a hackathon (hacknime.to) as InState, we polished the user exprierence and made the UI using IDSK 3 for MIRRI (Slovak government department).
							</p>
							<div class="grid gap-6 sm:grid-cols-2">
								<div class="rounded-lg bg-card p-6">
									<h3 class="mb-2 font-semibold">
										Technology Stack
									</h3>
									<p class="text-sm text-foreground/60">
										Next.js, React, October CMS, MySQL
									</p>
								</div>
								<div class="rounded-lg bg-card p-6">
									<h3 class="mb-2 font-semibold">Timeline</h3>
									<p class="text-sm text-foreground/60">
										6 months
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<Footer client:load />
	</body>
</html>
